<div class=global>
  <div *ngIf="question">
    <div class="shadow p-3 mb-5 rounded" *ngIf="question.type === 'OPEN'">
      <p class="boxed">{{question.enonce}}</p>
      <li class="boxed">
        <input class="form-control form-control-lg" type="text" placeholder="Blablabla" id="userAnswer" type="text"
               [(ngModel)]="userAnswer" (ngModelChange)="change()">
        <button class="btn-profil" (click)="clicked(question.id, userAnswer)" [disabled]="hidden">Ok!</button>
      </li>
      <p class="answered">{{checkedAnswer}}</p>
    </div>
    <div class="shadow p-3 mb-5 rounded" *ngIf="question.type === 'MULTIPLE'">
      <p class="boxed">{{question.enonce}}</p>
      <div class="lined" *ngFor="let suggestion of question.suggestions">
        <button class="btn-profil" (click)="clicked(question.id, suggestion)" [disabled]="hidden">{{suggestion}}</button>
      </div>
      <p class="answered">{{checkedAnswer}}</p>
    </div>
    <div class="shadow p-3 mb-5 rounded" *ngIf="question.type === 'TRUE_FALSE'">
      <p class="boxed">{{question.enonce}}</p>
      <li class="lined">
        <button class="btn-profil" (click)="clicked(question.id, 'vrai')" [disabled]="hidden">Vrai</button>
        <button class="btn-profil" (click)="clicked(question.id, 'faux')" [disabled]="hidden">Faux</button>
      </li>
      <p class="answered">{{checkedAnswer}}</p>
    </div>
  </div>
</div>
