<div class="shadow-lg p-3 mb-5 bg-white rounded">
  <label>Entrez l'énoncé de votre question : </label><br>
  <input id="enonce" type="text" [(ngModel)]="enonce"><br>
  <label>Entrez la réponse à votre question : </label><br>
  <input id="reponse" type="text" [(ngModel)]="reponse"><br>
  <button (click)="generateOpenQ()">Générez la question ouverte</button>
</div>
