<div class=global class="shadow-lg p-3 mb-5 bg-white rounded">
  <div class="jumbotron">
    <h1 class="display-4">Greetings, Traveller!</h1>
    <p class="lead">Bienvenue sur QuiZenika! Envie d'aventure?
      Sortez de chez vous! En attendant, vous prendrez bien quelques quiz ?!</p>
    <hr class="my-4">
    <p>Et si vous pensez qu'on ne plaisante pas avec les scores, créez votre profil!</p>
    <div class="text-center">
      <a class="btn btn-profil" href="#" role="button">Créer mon Profil</a>
    </div>
  </div>
</div>
