<label>Entrez le numéro de la question que vous voulez afficher !</label><br>
<input id="questionId" type="text" [(ngModel)]="id" (ngModelChange)="change()">
<button (click)="clicked()">Submit</button>

<nav>
  <a [routerLink]="'/question/'+this.id" routerLinkActive="active" >
    <button [disabled]="hidden">Go!</button>
  </a>
</nav>
