<div class="shadow-lg p-3 mb-5 bg-white rounded">
  <label for="enonce">Entrez l'énoncé de votre question : </label>
  <input id="enonce" type="text" name="enonce" [(ngModel)]="enonce"><br>
  <label>Entrez la bonne réponse à votre question : </label>
  <input id="reponse" type="text" [(ngModel)]="reponse">
  <label>Entrez les mauvaises réponses à votre question : </label>
  <input id="suggestion1" type="text" [(ngModel)]="suggestion1"><br>
  <input id="suggestion2" type="text" [(ngModel)]="suggestion2"><br>
  <input id="suggestion3" type="text" [(ngModel)]="suggestion3"><br>
  <button (click)="generateQCMQ()">Générez le QCM</button>
  <p>{{creationValidation}}</p>
</div>
