<div class="global">
  <p class="lined">Quel type de question voulez vous créer ???<p>
</div>
<nav>
  <li class="boxed">
    <a class="btn-choice" routerLink="/openQuestion" routerLinkActive="active">Question Ouverte</a>
    <a class="btn-choice" routerLink="/QCM" routerLinkActive="active">QCM</a>
    <a class="btn-choice" routerLink="/trueFalse" routerLinkActive="active">Vrai ou Faux</a>
  </li>
</nav>

