<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="" routerLinkActive="active">ACCUEIL</a></li>
    <li class="breadcrumb-item"><a routerLink="/profil" routerLinkActive="active">PROFIL</a></li>
    <li class="breadcrumb-item"><a routerLink="/question" routerLinkActive="active">QUESTION</a></li>
    <li class="breadcrumb-item"><a routerLink="/questionList" routerLinkActive="active">TOUTES LES QUESTIONS</a></li>
    <li class="breadcrumb-item"><a routerLink="/questionGenerator" routerLinkActive="active">CREER UNE QUESTION</a></li>
  </ol>
</nav>
<router-outlet></router-outlet>
