<div class="shadow-lg p-3 mb-5 bg-white rounded">
  <label for="enonce">Entrez l'énoncé de votre question : </label>
  <input id="enonce" type="text" name="enonce" [(ngModel)]="enonce"><br>
  <label>Entrez la réponse à votre question : </label>
  <button (click)="repondre(true)">Vrai</button>
  <button (click)="repondre(false)">Faux</button>
  <br>
  <button (click)="generateTrueFalseQ()">Générez le Vrai ou Faux</button>
  <p>{{creationValidation}}</p>
</div>
