.global {
  padding-bottom: 10px;
  padding-top: 20px;
  margin: 20px;
  border-radius: 10px;
  color: white;
  background: linear-gradient(135deg, #DEEA16, #166208);
}
.boxed {
  display: flex;
  justify-content: space-evenly;
}
.answered {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.btn-profil {
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  color: #166208;
  background: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn-profil:hover {
  background: #166208;
  color: white;
  padding: 6px 12px;
  font-style: italic;
}
.btn-choice {
  margin: 15px;
  border: none;
  padding:10px;
  border-radius:75%;
  box-shadow: 8px 8px 12px #166208;
  font:bold 20px Arial;
  color: #63AF20;
  background:#fff;
}
.btn-choice:hover {
  color: white;
  background: #63AF20;

}
.lined {
  display: flex;
  justify-content: space-evenly ;
}
/* You can add global styles to this file, and also import other style files */
